.capybara-card-div {
    background-color: whitesmoke;
    border: none;
    border-radius: 10%;
    padding: 10px;
    display: block;
    /* align-items: center; */
}

.capybara-list-information {
    display: flex;
    flex-direction: column;
    list-style: none;
}