.App-header {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    /* display: flex;
    justify-content: center; */
}